.Footer{
    height: 400px;
    width: 100%;
    background: rgb(95, 95, 224);
    @apply flex flex-wrap justify-between 
}

.left h2 {
    /* color: white;
    font-size: 2em;
    font-weight: bold;
    border-bottom: ; */
    @apply text-white text-2xl font-bold mt-32 border-b-2
}

.left p {
    @apply tracking-widest   
}

.right{
    @apply text-white mt-32 

}

.right h2{
    @apply text-2xl font-bold border-b-2
}

.right p{
    /* letter-spacing: 2px; */
    @apply tracking-widest
}

.footer__last {
    background: rgb(36, 34, 34);
    @apply h-[70px] flex justify-center items-center
}

.footer__last p span{
    color: rgb(128, 119, 119);
}

@media (max-width:800px){
    .Footer{
        height: 600px;
        width: 100%;
        padding-left: 20px;
        background: rgb(95, 95, 224);
        @apply flex flex-wrap justify-between 
    }

    .footer__last p{
        background: rgb(36, 34, 34);
        height: 90px;
        @apply flex justify-center items-center
    }
          
}